*.gem
*.sublime-*
.bundle
.overmind.env
.rbx
.rspec
.tool-versions
data/*
gemfiles
Gemfile.lock
pkg/*
spec/internal/config/test.sphinx.conf
spec/internal/db/sphinx
spec/internal/log
!spec/internal/tmp/.gitkeep
spec/internal/tmp/*
tmp
_site
