rvm:
  - 1.8.7
  - rbx
  - ree
  - jruby
branches:
  only:
    - master
    - v1
    - edge
before_script:
  - "mysql -e 'create database thinking_sphinx;' > /dev/null"
  - "psql -c 'create database thinking_sphinx;' -U postgres >/dev/null"
gemfiles:
  - gemfiles/rails_2_1.gemfile
  - gemfiles/rails_2_2.gemfile
  - gemfiles/rails_2_3.gemfile
