language: ruby
rvm:
  - 2.0.0
  - 2.1
  - 2.2.2
  - 2.3.4
  - 2.4.1
  - jruby-9.0.5.0
before_install:
  - gem update --system
  - gem install bundler
before_script:
  - "mysql -e 'create database thinking_sphinx;' > /dev/null"
  - "psql -c 'create database thinking_sphinx;' -U postgres >/dev/null"
  - bundle exec appraisal install
script: bundle exec appraisal rspec
env:
  - DATABASE=mysql2 SPHINX_BIN=/usr/local/sphinx-2.0.10/bin/ SPHINX_VERSION=2.0.10
  - DATABASE=postgresql SPHINX_BIN=/usr/local/sphinx-2.0.10/bin/ SPHINX_VERSION=2.0.10
  - DATABASE=mysql2 SPHINX_BIN=/usr/local/sphinx-2.1.9/bin/ SPHINX_VERSION=2.1.9
  - DATABASE=postgresql SPHINX_BIN=/usr/local/sphinx-2.1.9/bin/ SPHINX_VERSION=2.1.9
  - DATABASE=mysql2 SPHINX_BIN=/usr/local/sphinx-2.2.6/bin/ SPHINX_VERSION=2.2.6
  - DATABASE=postgresql SPHINX_BIN=/usr/local/sphinx-2.2.6/bin/ SPHINX_VERSION=2.2.6
sudo: false
addons:
  postgresql: "9.4"
services:
  - postgresql
matrix:
  allow_failures:
  - rvm: jruby-9.0.5.0
