rvm:
  - 1.8.7
  - 1.9.2
branches:
  only:
    - master
    - rails3
before_script:
  - "mysql -e 'create database thinking_sphinx;' > /dev/null"
  - "psql -c 'create database thinking_sphinx;' -U postgres >/dev/null"
